<h1>Get a Library Card at TADL!</h1>
<p>At Traverse Area District Library, we provide many types of cards in order to allow citizens to use our library.</p>
<a href="/register">
  <button type="button" class="btn btn-success btn-lg" >Library Card Application</button>
</a>
<h2>Patron Cards</h2>
<p>If you live within the Traverse Area District Library Taxing Authority* or the Northland Library Cooperative** area, you may obtain a Patron library card with no fee. To apply for a new library card, please fill out this <a href="/register">application</a>, then to validate your account and pick up your card, you&#8217;ll need to visit any Traverse Area District Library location in person.</p>
<p>This account provides:</p>
<ul>
<li>A forty (40) item check out limit, access to computers, and for those who live in the taxing district, online resources.</li>
<li>Account expires every three years.</li>
</ul>
<p>Current photo ID may be:</p>
<ul>
<li>A driver&#8217;s license or state-issued ID from any state.</li>
<li>A military ID</li>
<li>A valid passport</li>
<li>A current student ID</li>
<li>Tribal ID</li>
</ul>
<p>Proof of address may be:</p>
<ul>
<li>Current driver&#8217;s license or Michigan ID card issued by the Secretary of State.</li>
<li>Mail addressed to you and postmarked within the last two weeks.</li>
<li>Lease or purchase agreement.</li>
<li>Recent tax bills.</li>
<li>Recent utility bills.</li>
<li>Current Payroll Check.</li>
<li>If you don&#8217;t have any of these, ask at the Information Desk and we can mail a postcard to your local address.</li>
</ul>
<h2>Non-residents Cards</h2>
<p>If you don&#8217;t qualify for a no-fee TADL Patron card but still want to receive the benefits, a fee-based card is available for $100.00 per year or $50 per six months. Interlibrary loan and all online database services (downloads or streaming) are not included. The fee must be paid (cash or credit card) at the time the card is issued. To apply for a new library card, please fill out this <a href="/register">application</a>, then to validate your account and pick up your card, you&#8217;ll need to visit any Traverse Area District Library location in person with a current photo ID and proof of address.</p>
<h2>Limited/Visitors Cards</h2>
<p>The Limited/Visitor card is valid for three (3) months and allows for computer use and three (3) items to be checked out.</p>
<ul>
<li>Limited/Visitor card is for visitors to the area or those staying in temporary shelters.</li>
<li>Limited/Visitors need to show proof of where they are staying in the area:
<ul>
<li>Hotel Receipt</li>
<li>Campground Receipt</li>
<li>Letter from treatment house/Goodwin Inn on their letterhead and dated.</li>
</ul>
</li>
</ul>
<h2>Computer Use Only Card</h2>
<p>A Computer Use Only Card provides access to computers in TADL locations.</p>
<ul>
<li>For patrons living outside of our service area or living in transient housing.</li>
<li>Must provide picture ID and proof of address.</li>
<li>Valid for one year.</li>
</ul>
<h2>Juvenile Limited Card</h2>
<p>A Juvenile Limited card provides access to computers, online resources (for those who live in the taxing district), and limited checkout three (3) items. Parent(s)/guardian(s) can stop by any TADL library to update the minor’s account from Limited to Patron.</p>
<ul>
<li>For patrons under 16 years old.</li>
<li>For additional proof of address we will accept:
<ul>
<li>Student online school account.</li>
<li>Report card.</li>
<li>For those coming in with someone other than the legal guardian, like Grandparents, a copy/picture of legal guardian’s driver’s license.</li>
</ul>
</li>
</ul>
<p>*Traverse Area District Library Taxing Authority includes residents of Grand Traverse County, Elmwood Township, Almira Township, and Inland Townships.</p>
<p>**Northland Library Cooperative includes residents of Alcona, Antrim, Benzie, Charlevoix, Cheboygan, Emmet, Kalkaska, Leelanau, Montmorency, Oscoda, Otsego, Presque Isle, and Wexford.</p>
