<% if @confirmation != 'good' %>
	$('#password_reset').html("<h3 style='color: red;'><%= @confirmation %></h3><p><a href='#' id='reset_password_link' data-toggle='modal' data-target='#passReset'>Request a new password reset</a></p>")
<% else %>
	$("#password_reset").html("<h3 style='color: green;'>Your password has been successfully reset!</h3>")
<% end %>