<div class="row" style="margin-top: 50px">
    <div class="col-xs-12">
        <a href="/main/register">
            <img class="img-responsive center-block" alt="get a library card" src="https://www.tadl.org/sites/default/files/2023-01/kiosk_cardbutton-768x292.png">
        </a>
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdphLC7QEBdE48PxjRjHz2mEVlXD8gj15HErjyn8csTSATMQg/viewform">
            <img class='img-responsive center-block' alt="volunteer" src="https://www.tadl.org/sites/default/files/2023-01/kiosk_volunteerbutton-768x292.png">
        </a>
    </div>
</div>

<% if Settings.is_opac ==  true %>
    <%= render partial: "screen_saver_managment" %>
<% end %>