<div class="row">
    <div id="account-menu" class="col-xs-12 col-sm-3">
        <%= render 'account_menu' %>
    </div>
    <div id="hold_list" class="col-xs-12 col-sm-9">
        <%= render 'checkout_history', :checkouts => @checkouts, :more_results => @more_results, :page => @page %>
    </div>
</div>