<a href="/main/search<%= @search.search_path_with_facets %>"> << Return to TADL Search</a>
<iframe src="http://elibrary.mel.org/search/a?searchtype=X&searcharg=<%= @search.query %>&SORT=D" style="height:880px;width:100%;"></iframe>