<% if @user.error %>
    <h2>You must be logged in to view fines</h2>
    <script>logout();location.assign(main_index_path);</script>
<% else %>
    <div class="row">
        <div id="account-menu" class="col-xs-12 col-sm-3">
            <%= render 'account_menu' %>
        </div>
        <div id="payments-summary" class="col-xs-12 col-sm-9">
            <% if @payments.length > 0 %>
                <%= render 'payments_list', payments: @payments %>
            <% else %>
                <h2>No Payments found.</h2>
            <% end %>
        </div>
    </div>
<% end %>
