<div class="row">
    <div id="account-menu" class="col-xs-12 col-sm-3">
        <%= render 'account_menu' %>
    </div>
    <div id="account-prefs" class="col-xs-12 col-sm-9">
        <%= render 'account_prefs', :preferences => @preferences %>
    </div>
</div>
