<div class="row">
    <div class="col-xs-12">
        <h2>Signing-up for a library card is easy! Please fill out the form below to get started.</h2>
        <% if ENV['SYSTEM_NAME'] == 'sbbdl' %>
            <strong>
            <p>To validate your account and pick up your library card, you'll need to visit Suttons Bay-Bingham District Library in person.</p>
            <p>Online registrations are saved for one week only. You may re-register if needed.</p>
            <p>When you pick up your library card you must present a valid photo ID and, if not included on your photo ID, verification of your current address. If your photo ID does not include a current address, here are some other examples you may use to verify your address:</p>
            <ul>
                <li>Utility bill with your name and address</li>
                <li>Copy of your lease showing your name and address</li>
                <li>Tax bill with your name and address</li>
                <li>Mail delivered by the post office postmarked in the last 2 weeks showing your name and address</li>
            </ul>
            <p>We look forward to seeing you!</p>
            </strong>
        <% else %>
            <p><strong>
                NOTE: Online registrations are saved for two weeks, so please make sure to visit <%= Settings.register_location_name %> before that time; otherwise, you'll need to re-register.
            </strong></p>
        <% end %>
        <form class="form-horizontal padtop" autocomplete="off" method="post" action="<%= Settings.register_form %>">
            <div class="form-group">
                <label for="id_first_given_name" class="col-xs-3 control-label">Chosen First Name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_first_given_name" name="first_given_name" placeholder="Chosen First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="id_second_given_name" class="col-xs-3 control-label">Middle Name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_second_given_name" name="second_given_name" placeholder="Middle Name">
                </div>
            </div>
            <div class="form-group">
                <label for="id_family_name" class="col-xs-3 control-label">Last Name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_family_name" name="family_name" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="id_dob" class="col-xs-3 control-label">Date of Birth</label>
                <div class="col-xs-6">
                    <input type="date"  max="9999-12-31" class="form-control" id="id_dob" name="dob">
                </div>
            </div>
            <div class="form-group">
                <label for="id_addr_street" class="col-xs-3 control-label">Street Address</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_addr_street" name="addr_street" placeholder="Street Address">
                </div>
            </div>
            <div class="form-group">
                <label for="id_addr_city" class="col-xs-3 control-label">City</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_addr_city" name="addr_city" placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <label for="id_addr_state" class="col-xs-3 control-label">State</label>
                <div class="col-xs-6">
                    <select class="form-control" id="id_addr_state" name="addr_state">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AS">American Samoa</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="GU">Guam</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI" selected="selected">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VI">Virgin Islands</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="id_addr_zip" class="col-xs-3 control-label">Zip Code</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_addr_zip" name="addr_zip" placeholder="Zip Code">
                </div>
            </div>
            <div class="form-group">
                <label for="id_phone" class="col-xs-3 control-label">Phone Number</label>
                <div class="col-xs-6">
                    <input type="tel" class="form-control" id="id_phone" name="phone" placeholder="Phone Number">
                </div>
            </div>
            <div class="form-group">
                <label for="id_email" class="col-xs-3 control-label">E-mail Address</label>
                <div class="col-xs-6">
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="E-mail Address">
                </div>
            </div>
            <% if Settings.register_newsletter == 'true' %>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" name="email_optin" id="id_email_optin">Stay Connected! Receive news, events, and other email updates from your library
                            </label>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="col-xs-offset-3 col-xs-6">
                <% if Settings.register_agreement_text == 'tadl' %>
                    <h2>Agreement</h2>
                    <p>I agree to comply with all of the rules of the Traverse Area District Library; to return all materials in a timely fashion and in good condition; to promptly pay all fines levied against me; and to give notice of any change in my name, address or phone number.</p>
                    <p>TADL utilizes Unique Management Services to manage its delinquent accounts.</p>
                    <p>If the applicant is a minor, this agreement must be completed by a parent or guardian responsible for the minor.</p>
                    <h2>Consent by the parent or guardian of a minor child</h2>
                    <p>I am the parent/guardian of the above named child. I consent to my child obtaining a borrower's card through the Traverse Area District Library, and I accept full responsibility for return of library materials checked out by the above named child, as well as liability for payment for the child's overdue fines and damaged or lost materials. I understand that my child has full access to library materials, programs and services, and that his or her borrowing record is confidential to the extent required by Michigan law.</p>
                    <p>I give consent to release of child's borrowing record to myself and other parents or guardians whose names I provide to library staff in person when completing this registration.</p>
                <% end %>
                <% if Settings.register_agreement_text == 'sbbdl' %>
                    <!-- agreement text -->
                    <h2>Agreement</h2>
                    <p>I agree to comply with all of the rules of the Suttons Bay-Bingham District Library; to return all materials in a timely fashion and in good condition; to promptly pay all fines levied against me; and to give notice of any change in my name, address or phone number.</p>
                    <p>SBBDL utilizes Unique Management Services to manage its delinquent accounts.</p>
                    <p>If the applicant is a minor, this agreement must be completed by a parent or guardian responsible for the minor.</p>
                    <h2>Consent by the parent or guardian of a minor child</h2>
                    <p>I am the parent/guardian of the above named child. I consent to my child obtaining a borrower's card through the Suttons Bay-Bingham District Library, and I accept full responsibility for return of library materials checked out by the above named child, as well as liability for payment for the child's overdue fines and damaged or lost materials. I understand that my child has full access to library materials, programs and services, and that his or her borrowing record is confidential to the extent required by Michigan law.</p>
                    <p>I give consent to release of child's borrowing record to myself and other parents or guardians whose names I provide to library staff in person when completing this registration.</p>
                <% end %>
                <input type="hidden" name="application_name" value="<%= Settings.application_name %>">

                <!-- submit form -->
                <button type="submit" class="btn btn-primary pull-right">I Agree - Register</button>
                <div class="padtop padbot clearfix"></div>
            </div>
        </form>
    </div>
</div>
<script>

    /* source: http://stackoverflow.com/a/7884850/157515 */
    jQuery.fn.capitalize = function() {
        $(this[0]).keyup(function(event) {
            var box = event.target;
            var txt = $(this).val();
            var start = box.selectionStart;
            var end = box.selectionEnd;
            $(this).val(txt.replace(/^(.)|(\s|\-)(.)/g, function($1) {
                return $1.toUpperCase();
            }));
            box.setSelectionRange(start, end);
        });

        return this;
    }

    jQuery.fn.phoneify = function() {
      $(this[0]).blur(function(event) {
        var txt = $(this).val();
        if (txt.length == 10) {
          $(this).val(txt.replace(/^(\d{3})(\d{3})(\d{4})$/, '$1-$2-$3'));
        } else if ((txt.length == 7) && (txt.substring(0, 3) != 231)) {
          $(this).val(txt.replace(/^(\d{3})(\d{4})$/, '231-$1-$2'));
        }
      });
    }

    $('#id_first_given_name').capitalize();
    $('#id_second_given_name').capitalize();
    $('#id_family_name').capitalize();
    $('#id_addr_street').capitalize();
    $('#id_addr_city').capitalize();

    $('#id_phone').phoneify();

</script>

<% if Settings.is_opac ==  true %>
    <%= render partial: "screen_saver_managment" %>
<% end %>
