<h3>Thank you!</h3>

<strong>To validate your account and pick up your library card, you can visit Suttons Bay-Bingham District Library.</strong>

<p>A photo identification and proof of residency is required for full library privileges and must be presented in order to verify an account. If your photo identification does not include a current address, here are some other examples of acceptable residency documentation:</p>
<ul>
    <li>Utility bill with your name and address</li>
    <li>Copy of your lease showing your name and address</li>
    <li>Tax bill with your name and address</li>
    <li>Mail delivered by the post office postmarked in the last 2 weeks showing your name and address</li>
</ul>

<p>We look forward to seeing you!</p>

<a class="btn btn-default" role="button" href="/">Return to Main Page</a>
