<% if @user.error %>
    <h2>You must be logged in to view fines</h2>
    <script>logout();location.assign(mock_index_path);</script>
<% else %>
    <div class="row">
        <div id="account-menu" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <%= render 'account_menu' %>
        </div>
        <div id="default-summary" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            Default account summary page. Other current options are "hold" "checkout" "fines" or "payments"
        </div>
    </div>
<% end %>

