
	$.fancybox.open({ 
	    'overlayOpacity': 0.1,
	    'content' : "<div class='container' style='width: 95%; max-width: 960px;'><%= escape_javascript(render 'details', :locals => {:item => @item, :search => @search}) %></div>"
	});
	$.fancybox.update()
    $.fancybox.reposition()

$('.details-button').text('Details');
hideLoading();
