<% if !@fetching %>
	$.fancybox.open({ 
	    'overlayOpacity': 0.1,
	    'content' : "<div class='container' style='width: 95%; max-width: 960px;'><%= escape_javascript(render 'details', :locals => {:item => @item}) %></div>"
	});
    $('.details-button').text('Details');
    $('.carousel-item').removeClass('gly-spin');
<% else %>
	$('#copy_container').html("<%= escape_javascript(render 'detail_tabs', :locals => {:item => @item}) %>")
	$.fancybox.update()
    $.fancybox.reposition()
    $('.details-button').text('Details');
    $('.carousel-item').removeClass('gly-spin');
<% end %>
