
$.fancybox.open({ 
        'overlayOpacity': 0.1,
        'content' : "<div class='container' style='width: 95%; max-width: 960px;'><%= escape_javascript(render partial: 'item_details', :locals => {:item => @item}) %><%= escape_javascript(render 'detail_tabs', :locals => {:item => @item}) %></div>"
    });