<div class="container">
    <div class="col-lg-9">
        <h3>Movies</h3>
        <%= render 'featured_lists', list: @movie_list %>

        <h3>Music</h3>
        <%= render 'featured_lists', list: @music_list %>

        <h3>Games</h3>
        <%= render 'featured_lists', list: @book_list %>
    </div>
    <div class="col-lg-3">
        clicky things go here maybe.
    </div>
</div>
