<h1>TADL OPAC</h1>

<h2> Featured Movies </h2>
<%= render 'featured_lists', list: @movie_list %>

<h2> Featured Music </h2>
<%= render 'featured_lists', list: @music_list %>

<h2> Featured Books </h2>
<%= render 'featured_lists', list: @book_list %>
