<% if @user.error %>
	<h2>You must be logged in to view holds</h2>
    <script>logout();location.assign('/mock/index');</script>
<% else %>
    <div class="row">
        <div id="account-menu" class="col-xs-12 col-sm-3">
            <%= render 'account_menu' %>
        </div>
        <div id="account-prefs" class="col-xs-12 col-sm-9">
            <%= render 'account_prefs', :preferences => @preferences %>
        </div>
    </div>
<% end %>
