<div class="row">
    <%= render 'full_search_box', search: @search %>
</div>
<div class="row">
    <div id="facets" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <%= @cached %>
        <% @facets.each do |facet| %>
			<%= render 'facets', facet: facet %>
		<% end %>
    </div>
    <div id="results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <%= render 'search_grid', items: @items %>
    </div>    
</div>

<script>
    document.addEventListener('page:change', function() {
            document.getElementById('results').className += ' animated fadeInUp';
    });
    document.addEventListener('page:fetch', function() {
            document.getElementById('results').className += ' animated fadeOutDown';
    })
    
    $(document).on("submit", "form[data-turboform]", function(e) {
        Turbolinks.visit(this.action+(this.action.indexOf('?') == -1 ? '?' : '&')+$(this).serialize());
        return false;
    });
</script>

