/* specific stylesheet for ica */

body.index {
}

span.owl-numbers {
    background: #000 !important;
}

.btn-primary {
    background-color: #D42741;
    border-color: #D42741;
}
.btn-primary:hover {
    background-color: #D42741;
    border-color: #D42741;
}
