/* specific stylesheet for kcl */

body.index {
    background: url('/assets/kcl-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

span.owl-numbers {
    background: #000 !important;
}

