/* specific stylesheet for sight & sound */

body.index {
    background: url('/assets/fishtank.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

