<div class="dropdown pull-right" style="z-index:999;margin-top:15px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="exploreGames" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="exploreGames">
        <li><a href="#">Puzzle</a></li>
        <li><a href="#">Role Playing</a></li>
        <li><a href="#">Arcade</a></li>
        <li><a href="#">FPS</a></li>
        <li><a href="#">XBox</a></li>
        <li><a href="#">PS3</a></li>
        <li><a href="#">PS4</a></li>
        <li><a href="#">Wii-U</a></li>
    </ul>
</div>
