<div class="dropdown pull-right" style="z-index:999;margin-top:15px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="exploreMusic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="exploreMusic">
        <li><a href="#">Blues</a></li>
        <li><a href="#">Jazz</a></li>
        <li><a href="#">Rock</a></li>
        <li><a href="#">Popular</a></li>
        <li><a href="#">House</a></li>
        <li><a href="#">Electro</a></li>
        <li><a href="#">Dubstep</a></li>
    </ul>
</div>
