<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" href="http://www.tadl.org/">
                <img src="<%= asset_path('logo-clock-only.png') %>" style="height: 100%;" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/mock/index">All Formats<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Audio</a></li>
                <li><a href="#">Games</a></li>
            </ul>
            <%= render 'shared/searchbox' %>
            <% if @user_name %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= @user_name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Checked Out <span class="pull-right label label-info">4</span></a></li>
                            <li><a href="#">Holds <span class="pull-right label label-info">0</span></a></li>
                            <li><a href="#">Fines <span class="pull-right label label-danger">$2.00</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>

            <% else %>
                <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
            <% end %>

        </div>
    </div>
</nav>

