<!-- app/views/shared/_searchbox.html.erb -->

<%= bootstrap_form_tag url: 'search', :html => { :method => 'get', :role => 'search', :class => 'navbar-form navbar-left' } do |f| %>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-btn">
                <%= f.select :format,  options_for_select(@format_options, "All Formats"), { title: "All Formats" }, { class: "selectpicker form-control" } %>
            </div>
            <div class="input-group-text">
                <%= f.search_field :query, placeholder: "Search" %>
            </div>
            <div class="input-group-btn">
                <button type="submit" name="commit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </div>
<% end %>
