// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
    overflow-x: hidden;
    min-height: 800px;
}
body.list_holds,
body.list_checkouts {
    padding-bottom: 200px;
}

body.index {
    background: url('/assets/avbg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown-menu,
.dropdown-menu li,
.dropdown-menu li a {
    z-index: 1000;
}

.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}

.navbar-default {
    font-size: 1.2em;
}
.closebutton {
    color: #f00;
    text-decoration: none;
}
.removefacet {
    color: #ff6666;
    text-decoration: none;
}
.navbar-top label {
    display: none;
}
.padtop {
    padding-top: 10px;
}
.padbot {
    padding-bottom: 10px;
}

#list .panel img {
    max-width: 100%;
    max-height: 180px;
}
#main-container{
    overflow: hidden;
}

/* results grid */
#grid .panel img {
    width: 100%;
}
@media screen and (min-width: 1px) and (max-width: 767px){
    #grid[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 1150px){
    #grid[data-columns]::before {
        content: '4 .col-sm-3';
    }
}
@media screen and (min-width:1151px) and (max-width: 9999px){
    #grid[data-columns]::before {
        content: '6 .col-md-2';
    }
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(51,122,183,0.4);
}

.back-to-top i {
    font-size: 50px;
}

/* fancy checkboxes */
.form-group input[type="checkbox"] {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

/* spinny glyphicons */
.gly-spin {
    -webkit-animation: spin 3s infinite linear;
    -moz-animation: spin 3s infinite linear;
    -o-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#statusMessage,
#hold-confirm-force {
    z-index: 9999;
}
#alert-container {
    position: fixed;
    top: 20px;
    z-index: 9999;
}

/* style goodreads stars */
span.goodreads-stars a {
    font-size: 18px;
}

/* dropdown menu issue fix */
.smartdrop {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
