// Place all the styles related to the mock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.index {
    background: url('/assets/avbg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}

.navbar-default {
    font-size: 1.2em;
}
.closebutton {
    color: red;
    text-decoration: none;
}
.navbar-top label {
    display: none;
}
.padtop {
    padding-top: 10px;
}
.padbot {
    padding-bottom: 10px;
}

#list .panel img,
#grid .panel img {
    width: 100%;
}
@media screen and (min-width: 1px) and (max-width: 767px){
    #grid[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #grid[data-columns]::before {
        content: '2 .col-sm-6';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #grid[data-columns]::before {
        content: '4 .col-md-3';
    }
}
