<span id="full_name">
</span>
</br>
<ul>
<li id="checkouts">Checkouts: </li>
<li id="holds">Holds: </li>
<li id="holds_ready">Holds Ready for Pickup:</li>
<li id ="fine">Fines: $</li>
</ul>
<button onclick="logout()">logout</button>