<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6" id="circulation">
        <%= render 'prefs_circulation' %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6" id="user">
        <%= render 'prefs_user' %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6" id="notification">
        <%= render 'prefs_notification' %>
    </div>
</div>
<script>account_prefs_binds()</script>
