<ul class="nav nav-pills navbar-nav">
    <li class="navbar-text nav">Logged in as <span id="full_name"></span></li>
    <li><button class="btn btn-default navbar-btn" onclick="event.preventDefault();">Items Out <span class="badge"><span id="checkouts"></span></span></button></li>
    <li><button class="btn btn-default navbar-btn" style="margin-left:10px;" onclick="event.preventDefault();">Holds <span class="badge"><span id="holds"></span></span></button></li>
    <!--<li><button class="btn btn-default navbar-btn" style="margin-left:10px;" onclick="event.preventDefault();">Holds Ready for Pickup <span class="badge"><span id="holds_ready"></span></span></button></li>-->
    <li><button class="btn btn-default navbar-btn" style="margin-left:10px;" onclick="event.preventDefault();">Fines <span class="badge">$<span id="fine"></span></span></button></li>
    <li><button class="btn btn-default navbar-btn" style="margin-left:10px;" onclick="logout()">Log out</button></li>
</ul>
