<ul class="nav navbar-nav">



<p class="navbar-text">
    <span id="full_name"></span>
</p>
<li>Checkouts: <span id="checkouts"></span></li>
<li>Holds: <span id="holds"></span></li>
<li>Holds Ready for Pickup: <span id="holds_ready"></span></li>
<li>Fines: $<span id="fine"></span></li>
<li><button class="btn btn-default navbar-btn" onclick="logout()">Log out</button></li>
</ul>
