<ul class="nav navbar-nav navbar-right" id="account_info_box">
    <% if cookies[:user] %>
        <%= render partial: 'account_basics' %>
    <% else %>
        <%= render partial: 'login_form' %>
        <% if Settings.is_opac ==  true %>
        	<button style="margin-left: 8px;" type="button" class="btn btn-primary navbar-btn" onclick="end_session()" id="end_session">End Session</button>
    	<% end %>
    <% end %>
</ul>