<%= render 'summer_reading' %>
<div class="row">
    <div class="col-xs-12" id="circulation">
        <%= render 'prefs_circulation' %>
    </div>
    <div class="col-xs-12" id="user">
        <%= render 'prefs_user' %>
    </div>
    <div class="col-xs-12" id="notification">
        <%= render 'prefs_notification' %>
    </div>
</div>
<div style="visibility:hidden;"><span class="glyphicon glyphicon-asterisk"></span></div>
<script>account_prefs_binds()</script>
