<div id="account_info_box">

</h2>

<script>
 	if(sessionStorage.getItem('full_name') !== null){
 		$('#account_info_box').html("<%= escape_javascript(render partial: 'account_basics') %>")
 		update_login()	
 	}else if(sessionStorage.getItem('token') !== null){
 		var token = sessionStorage.getItem('token')
 		$('#account_info_box').html("<%= escape_javascript(render partial: 'account_basics') %>")
 		$.get( "login.js", { "token": token, "update": 'true' } )	
 	}else{
 		$('#account_info_box').html("<%= escape_javascript(render partial: 'login_form') %>")
 	}
</script>