<% @checkouts.each do |checkout| %>
    <div class="row" id="checkout-record-<%= checkout.record_id %>">
        <%= render 'checkout', :checkout => checkout %>
    </div>
<% end %>
<script>
detect_details_click();
bulk_action_binds();
</script>

