<h4><%= facet.type %></h4>
<% facet.subfacets.each do |sub| %>
		<a href="search<%= @search.search_path %><%= sub[:path] %>">
			<%= sub[:title] %>
			<% if sub[:selected] %>
				X
			<% end %>
		</a>
	</br>
<% end %>