<div class="list-group">
    <h4 class="list-group-item list-group-item-info active"><%= facet.type %></h4>
    <% facet.subfacets.each do |sub| %>
         <a class="list-group-item" href="#"><%= sub %></a>
    <% end %>
</div>
