<div class="row">
    <div class="col-xs-1"></div>
	<% list.first(5).each do |item| %>
	    <div class="col-xs-2">
            <div><img style="width:100%" src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.item %>"></div>
            <div><%= item.title %></div>
	    </div>	
	<% end %>
    <div class="col-xs-1"></div>
</div>
