<div class="row clearfix">
    <% if list.first.format_type == 'g' %>
        <div class="tall-carousel">
    <% else %>
        <div class="square-carousel">
    <% end %>
        <% list.each do |item| %>
            <div class="col-xs-6 col-md-3 col-lg-2">
                <%= link_to mock_details_path(:format => :js, :id => item.id), :remote => true do %>
                    <%= content_tag :img, "", :class => "carousel-item", :style => "max-height:160px;", :src => "https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/"+item.id.to_s %>
                <% end %>
            </div>

        <% end %>
    </div>
</div>
