<div class="row">
	<% list.first(6).each do |item| %>
	    <div class="col-xs-2">
	    	<img src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.item %>">
	    	</br>
	        <%= item.title %>
	    </div>	
	<% end %>
</div>