<div class="row">
    <div class="owl-carousel">
        <% list.each do |item| %>
            <div>
                <a href="#">
                <img class="carousel-item" src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.item %>" />
                </a>
            </div>
        <% end %>
    </div>
</div>
