<% image_asset = "logo-clock-only.png" %>
<div class="row clearfix">
    <div class="square-carousel">
        <% list.shuffle.each do |item| %>
            <div class="col-xs-6 col-md-3 col-lg-2">
                <%= link_to 'details.js', data:{params: item.create_params}, :method=> :post, :remote => true do %>
                    <img class="carousel-item lazyOwl" style="max-height:160px;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id.to_s %>" data-src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id.to_s %>" />
                <% end %>
            </div>
        <% end %>
    </div>
</div>
