<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Transaction Start Date</th>
            <th>Last Payment Date</th>
            <th>Initial Amt Owed</th>
            <th>Total Amt Paid</th>
            <th>Balance Owed</th>
            <th>Billing Type</th>
        </tr>
    </thead>
    <tbody><% @fines.each do |fine| %>
        <%= render 'fine', :fine => fine %>
    <% end %></tbody>
</table>
