<div id="holdlogin" style="display: none">
    <div><div id="loginmessage" class="alert alert-info"><i class="glyphicon glyphicon-user"></i> Log in to place hold</div></div>
    <label for="holdloginuser">Username or Library Card</label>
    <input type="text" id="holdloginuser" name="holdloginuser" class="form-control" />
    <label for="holdloginpass" class="padtop">Password</label>
    <input type="password" id="holdloginpass" name="holdloginpass" class="form-control" />
    <div class="padtop">
        <button type="button" class="btn btn-success loginsubmit" id="holdloginsubmit">Log in and Place Hold</button>
    </div>
    <div class="padtop">
        <button type="button" class="btn btn-danger logincancel" id="holdlogincancel">Cancel</button>
    </div>
</div>

