<div class="row" style="margin-bottom: 10px; padding: 5px;">
    <button type="button" class="btn btn-default" id="select-all">Select All</button>
    <% if @ready != 'true' %>
        <button type="button" class="btn btn-default" id="hold-bulk-suspend">Suspend Seleted</button>
    <% end %>    
    <button type="button" class="btn btn-default" id="hold-bulk-activate">Activate Selected</button>           
    <button type="button" class="btn btn-default" id="hold-bulk-cancel">Cancel Selected</button>
    <button type="button" class="btn btn-default" id="select-none">Clear Selection</button>
</div>
<% if @ready != 'true' %>
	<% @holds.each do |hold| %>
    	<div class="row" id="hold-record-<%= hold.hold_id %>">
        	<%= render 'hold', :hold => hold %>
    	</div>
	<% end %>
<% else %>
	<% @holds.each do |hold| %>
		<% if hold.queue_status =~ /Ready/ %>
    		<div class="row" id="hold-record-<%= hold.hold_id %>">
        		<%= render 'hold', :hold => hold %>
    		</div>
    	<% end %>
	<% end %>
<% end %>
<script>
detect_details_click();
bulk_action_binds();
</script>
