<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<img style="width:100%;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.record_id %>">
	</div>	    	
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <h2><%= item.title.split("/")[0] %></h2>
		<p><%= item.author %></p>
		<p><%= item.summary %></p>
	</div>
</div>
<div class="row clearfix" style="margin-bottom:15px;"></div>
