<% if facets && facets.size > 0 %>
    <div class="list-group">
        <% facets.each do |f| %>
            <a class="list-group-item" href="<%= related_search_link(f, item, type) %>" data-no-turbolink="true"><%= f %></a>
        <% end %>
    </div>
<% end %>
