<div class="row">
	<div class="col-lg-4">
		<img src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.record_id %>">
	</div>	    	
	<div class="col-lg-5">
        <h2><%= item.title.split("/")[0] %></h2>
		<p><%= item.author %></p>
		<p><%= item.summary %></p>
	</div>
</div>
