<div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-4" id="login-form">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label class="sr-only" for="page-username">Username or Card Number</label>
                <input type="text" class="form-control" id="page-username" name="page-username" autocapitalize="none" autocorrect="off" placeholder="Username or Card #" required>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <label class="sr-only" for="page-password">Password</label>
                <input type="password" class="form-control" id="page-password" name="page-password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="page-login-button" onclick="login(0,'true')">Sign in</button>
                <a href="#" class="pull-right" data-toggle="modal" data-target="#passReset">Forgot password?</a>
            </div>
    </div>
</div>
<script>
    $('#login-form').keydown(function(event) { if (event.keyCode == 13) { login(0,'true'); } });
    $('#login-form').submit(function(event){event.preventDefault();});
</script>
