<%= link_to 'details.js', data:{params: @item.create_params}, :method=> :post, :remote => true, :class => 'btn btn-xs btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Details
<% end %>
<%= @marc.html_safe %>
