<div class="modal fade" id="hold-confirm-force" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Weird Thing</h4><!-- #TODO -->
            </div>
            <div class="modal-body">
                <p>Placing a hold on this item could result in long wait times because no copies are available for pickup at your selected pickup location. Are you sure you'd like to do this?</p><!-- #TODO -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel-force-hold" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="force-hold">Yes, Place Hold</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

