<% if @more_results == true %>
    <div id="more_results" class="row clearfix" data-offset="1200">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">
                <%= link_to "Load More", :params => @search.next_page_params, :method => :get, :format => :js, :id => 'more_link', :remote => true %>
            </h1>
        </div>
    </div>
<% end %>