<div id="password_reset">
<% if @user && @user.temp_password == 'true'  %>
    <h3>It looks like you're using a temporary password...</h3>
    <p>Please use the form below to set a new password.</p>
<% else %>
    <h3>Please enter and repeat your new password.</h3>
<% end %>
<p><i>Note: The password must be at least 7 characters in length, contain at least one letter (a-z/A-Z), and contain at least one number.</i></p>
<form id="reset_password" class="form-horizontal padtop" autocomplete="off">
    <div class="form-group required">
        <label for="id_password_1" class="col-xs-3 control-label">New Password</label>
        <div class="col-xs-6">
            <input type="password" class="form-control" required="required" id="password_1" name="password_1">
        </div>
    </div>
    <div class="form-group required"> 
        <label for="id_password_2" class="col-xs-3 control-label">Re-enter new password</label>
        <div class="col-xs-6">
            <input type="password" class="form-control" required="required" id="password_2" name="password_2">
        </div>
    </div>
    <% if !@user %>
        <input type="hidden" id="token" value="<%= @token %>">
    <% end %>
    <% if @user.temp_password == 'true' %>
        <input type="hidden" id="temp_password" value="<%= @user.temp_code %>">
    <% end %>
    <div id="form_warning"></div>
</form>
<% if !@user %>
    <button class="btn btn-primary pull-left" onclick="submit_password_reset()">Submit Password Reset</button>
<% else %>
    <button class="btn btn-primary pull-left" onclick="submit_password_reset('temp_password')">Save New Password</button>
<% end %>
</div>