<script>
	function idleTimer() {
	    var warning
	    var timer
	    var timeleft
	    <% if @screen_saver_on != 'true' %>
	    	window.onload = resetTimer;
	    <% end %>
	    window.onmousemove = resetTimer; // catches mouse movements
	    window.onmousedown = resetTimer; // catches mouse movements
	    window.onclick = resetTimer;     // catches mouse clicks
	    window.onscroll = resetTimer;    // catches scrolling
	    window.onkeypress = resetTimer;  //catches keyboard actions

	    function logout() {
	    	<% if Settings.registration_only %>
	    		var reload_path = '/main/kiosk?screen_saver_on=true'
	    	<% else %>
	    		var reload_path = '/main/index?screen_saver_on=true'
	    	<% end %>
	    	var loggout_path = '/main/logout.js?screen_saver_on=true'
	    	var logged_in = Cookies.get('login');
	    	if (logged_in != null) {
	        	$.get( loggout_path, function() {})
			}else{
				 
				 window.location.href = reload_path
			}
	    }

	   function resetTimer() {
	   		// console.log('timer reset')
	        clearTimeout(warning);
	        clearTimeout(timer);
	        $("#countdown").text(30)
	        $("#inactivity_warning").css("display", "none")
	        $("#screen_saver").css("display", "none")
	        warning = setTimeout(show_warning, 180000)
	    }

	    function show_warning(){
	    	timeleft = 30
	    	$.fancybox.close()
	    	$("#inactivity_warning").css("display", "block")
	    	timer = setInterval(countdown, 1000);
	    	function countdown() {
	    	  if (timeleft >= 0) {
	    	    $("#countdown").text(timeleft)
	    	    timeleft--;
	    	  }else{
	    	  	logout()
	    	  }
	    	}
	    }
	    window.addEventListener('message', got_message)
		function got_message(event){
			// console.log('iframe activity detected')
			resetTimer()
		}
	}
	idleTimer()
	function end_session(){
		<% if Settings.registration_only %>
	    	var reload_path = '/main/kiosk?screen_saver_on=true'
	    <% else %>
	    	var reload_path = '/main/index?screen_saver_on=true'
	    <% end %>
    	var logged_in = Cookies.get('login');
    	var timeleft = 2
    	$.fancybox.close()
    	$("#end_session_warning").show()
    	timer = setInterval(countdown, 1000);
    	function countdown() {
    	    if (timeleft >= 0) {
    	        $("#end_countdown").text(timeleft)
    	        timeleft--;
    	    }else{
    	        if(logged_in == null){
    	            window.location = reload_path
    	        }else{
    	            $.post('/main/logout.js')
    	            return
    	        }
    	    }
    	}
	}

</script>
<div id="inactivity_warning" class="opac_warning">
	<h3>Inactivity warning: Your session will expire in <span id="countdown">30</span> seconds. Move your mouse or press any key to continue.</h3>
</div>
<div id="end_session_warning" class="opac_warning">
	<h3>Session ending in <span id="end_countdown">3</span> seconds.</h3>
</div>

