<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Payment Date</th>
              <th>Description</th>
              <th>Amount</th>
          </tr>
      </thead>
      <tbody>
          <% @payments.each do |payment| %>
              <%= render 'payment', :payment => payment %>
          <% end %>
      </tbody>
  </table>
</div>
