<div class="summer_reading">
    <a class="btn btn-warning btn-lg" id="report_summer_reading" style="margin-top: 5px;" href="#" onclick="report_summer_reading()">Report Summer Reading Experience</a>
</div>