<div id="screen_saver">
	<div><%= Settings.opac_wake_message || 'Press any key or move mouse to use the catalog' %></div>
</div>
<% if @screen_saver_on == 'true' %>
	<script>
		function show_screen_saver() {
			var images = [<% Settings.screen_saver.each do |s| %>'<%= s['url'] %>',<% end %>];
            var last_image = images.length - 1;
			var image_index = 0;
			$("#screen_saver").css("background-image", 'url('+ images[1] +')');
			setInterval(function() {
    			$("#screen_saver").css("background-image", 'url('+ images[image_index] +')')       
                image_index++;
                if (image_index > last_image) {
                    image_index = 0;
                }
			}, <%= Settings.screen_saver_milliseconds %>);
			$("#screen_saver").css("display", "block");
		}
		show_screen_saver();
	</script>
<% end %>
<% if Settings.is_opac ==  true && Settings.is_opac_light !=  true %>    
  <iframe src="https://elibrary.mel.org/logout?" style="display:none" sandbox="allow-forms allow-scripts"></iframe>
<% end %>

<% if Settings.is_opac_light ==  true %>   
  <script>
    window.onmousemove = kill_screen_saver;
    window.onmousedown = kill_screen_saver; 
    window.onclick = kill_screen_saver; 
    window.onscroll = kill_screen_saver;  
    window.onkeypress = kill_screen_saver;
    function kill_screen_saver(){
      $("#screen_saver").css("display", "none")
    }
  </script>
<% end %>