<div id="screen_saver">
	<div><%= Settings.opac_wake_message || 'Press any key or move mouse to use the catalog' %></div>
</div>
<% if @screen_saver_on == 'true' %>
	<script>
    var active_screen_saver;
		function show_screen_saver() {
			var images = [<% Settings.screen_saver.each do |s| %>'<%= s['url'] %>',<% end %>];
      var last_image = images.length - 1;
			var image_index = 0;
			$("#screen_saver").css("background-image", 'url('+ images[image_index] +')');
			active_screen_saver = setInterval(function() {
          image_index++;
          if (image_index > last_image) {
            image_index = 0;
          }
    			$("#screen_saver").css("background-image", 'url('+ images[image_index] +')');
			}, <%= Settings.screen_saver_milliseconds %>);
			$("#screen_saver").css("display", "block");
		}

	</script>
<% end %>
<% if Settings.is_opac ==  true && Settings.is_opac_light !=  true %>
  <iframe src="https://elibrary.mel.org/logout?" style="display:none" sandbox="allow-forms allow-scripts"></iframe>
<% end %>

<% if Settings.is_opac_light ==  true %>
  <script>
    window.onmousemove = reset_timeout;
    window.onmousedown = reset_timeout;
    window.onclick = reset_timeout;
    window.onscroll = reset_timeout;
    window.onkeypress = reset_timeout;

    function reset_timeout() {
      clearTimeout(timer);
      clearInterval(active_screen_saver);
      $("#screen_saver").css("display", "none");
      var timer = setTimeout(re_show_screen_saver, 120000);
    }

    function re_show_screen_saver() {
      $("#screen_saver").css("display", "block");
    }

    reset_timeout();
    show_screen_saver();
  </script>
<% end %>
