
	<% items.each_slice(3) do |slice| %>
		<div class="row">
		 <% slice.each do |item|%>
	   		<div class="col-xs-4">
	    		<img src='https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.record_id %>'>
	    		</br>
	        	<%= item.title %>
	    	</div>
	    <% end %>	
	    </div>
	<% end %>
