<div id="grid" data-columns>
    <% items.each do |slice| %>
        <% if slice.copies_available[0].to_i > 0 %>
            <div class="panel panel-default">
        <% else %>
            <div class="panel panel-warning">
        <% end %>
            <div class="panel-heading"><%= slice.title %></div>
            <div class="panel-body">
                <img src='https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= slice.record_id %>' 
                    onerror="this.src='<%= asset_path("logo-clock-only.png") %>'" />
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    <% end %>
</div><!-- /#grid -->
<% if @more_results == true %>
    <div id="more_results" class="row">
        <h1 class="text-center">Load More</h1>
    </div>
<% end %>
