<% if Settings.summer_reading == 'true' && (Date.parse('2016-6-5') < Date.today)  %>
    <div id="summer_reading_wrapper">
        <div class="summer_reading">
    		<a class="btn btn-success btn-lg" href="https://summer.tadl.org">Register for Summer Reading Club</a>
		</div>
	</div>
<% end %>

