<% if Settings.summer_reading == 'true' && (Date.parse(Settings.summer_start_date) <= Date.today)  %>
    <div id="summer_reading_wrapper">
        <div class="summer_reading">
            <a class="btn btn-primary btn-lg" id="register_summer_reading" style="margin-top: 5px;" href="https://tadl.beanstack.com">Winter Reading Club Sign Up</a>
        </div>
	</div>
<% end %>