<% if Settings.summer_reading == 'true' && (Date.parse(ENV["SUMMER_START_DATE"]) < Date.today)  %>
    <div id="summer_reading_wrapper">
    <% if Settings.summer_reading == 'true' && cookies[:user] && (Date.parse(ENV["SUMMER_START_DATE"]) < Date.today) %>
        <%= render 'report_summer_reading' %>
    <% end %>
        <div class="summer_reading">
    		<a class="btn btn-success btn-lg" onclick="register_summer_reading()">Register for Summer Reading Club</a>
		</div>
	</div>
<% end %>

