<% if Settings.summer_reading == 'true' && (Date.parse(Settings.summer_start_date) <= Date.today)  %>
    <div id="summer_reading_wrapper">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">MeLCat Service Disruption</h4>
            <p>Please be aware that there will be scheduled downtime for MeLCat starting this Friday 10/10/2025 at 9 pm. It is expected to last through Sunday 10/12/2025.</p>
        </div>
	</div>
<% end %>