<% if Settings.summer_reading == 'true' && (Date.parse('2016-6-5') < Date.today)  %>
        <% if Settings.summer_reading == 'true' && cookies[:user] && (Date.parse('2016-6-19') < Date.today) %>
            <%= render 'report_summer_reading' %>
        <% end %>
    </div>
<% end %>

