var messageinfo    = '<div class="alert alert-info" role="alert">';
var messagesuccess = '<div class="alert alert-success" role="alert">';
var messageclose   = '</div>';
var pickuplocation = '<%= escape_javascript(location_map(@user.pickup_library, @location_options)) %>';
<% @hold_confirmation.each do |c| %>
    var target = '.hold-status-<%= escape_javascript(c[:record_id]) %>';
    <% if !c[:error] %>
        var message = messagesuccess+'Hold placed successfully for pickup at '+pickuplocation+messageclose;
        $(target).html(message);
        hideLoading();
    <% elsif c[:need_to_force] %>
        <% if c[:message] == 'Placing this hold could result in longer wait times.'%>
            var force_hold_text = "All available copies are temporarily unavailable at your pickup library. Placing this hold could result in longer wait times. Place the hold anyway?"
        <% else %>
            var force_hold_text = "You already have this item checked out. Are you sure you want place it on hold again?"
        <% end %>
        $('#force_hold_message').html(force_hold_text)
        $('#hold-confirm-force').modal('show');
        force_hold_click(<%= escape_javascript(c[:record_id]) %>);
    <% else %>
        var message = messageinfo+'<%= escape_javascript(c[:message]) %>'+messageclose;
        $(target).html(message);
        hideLoading();
    <% end %>
<% end %> 
update_login();
